.DS_Store
a.out

# Compiled C libraries
*.o

# Java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## IDE - IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# dotfiles
.env
